h3 {
  text-align: center;
}


nav.nav-center ul {
    text-align: center;
} 
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

nav.sidenav {
    text-align: left;
    float: left;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background: white;
}

nav .brand-logo{
  color: red;
  padding-left: 20px;
}

#menu li{
  list-style: none;
  display: inline-block;
  width: 9em;
  text-align: center;
  border-right: 9px;
}
#menu li a{
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 0px 30px;
  text-transform: uppercase;
}
#menu li a:before{
  content: '';
  width: 60px;
  position: absolute;
  border-bottom: 8px solid #313131;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}

#menu li a:hover:before{
  right: 0;
}
#menu li a:hover{
  color: white;
}

a.home{
    background: #0097A7;
}
a.home:hover{
    background: #43A047;
}

a.apple{
    background: #00ACC1;
}
a.apple:hover{
    background: #4CAF50;
}

a.oppo{
    background: #00BCD4;
}
a.oppo:hover{
    background: #66BB6A;
}

a.huawei{
    background: #26C6DA;
}
a.huawei:hover{
    background: #81C784;
}

a.xiaomi{
    background: #4DD0E1;
}
a.xiaomi:hover{
    background: #A5D6A7;
}

nav a.sidenav-trigger {
    color: black;
}


#body-content{
  background: rgb(215, 239, 255);
}




/* recipe styles */
.recipes{
  margin-top: 20px;
}
.card-panel.recipe{
  border: 0.3px solid rgb(0, 0, 0)(2, 2, 2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
.recipe img{
  grid-area: image;
  max-width: 60px;
}
.recipe-details{
  grid-area: details;
  margin-top: 6px;
}
.recipe-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.recipe-delete i{
  font-size: 18px;
}
.recipe-title{
  font-weight: bold;
}
.recipe-ingredients{
  font-size: 0.8em;
}


/* responsive */

@media screen and (max-width: 1300px) {
  #menu li{
    width: 8.6em;
  }
  #menu li a{
    font-size: 20px;
    font-weight: 700;
    padding: 0px 30px;
  }
}


@media screen and (max-width: 1200px) {
  #menu li{
    width: 8.2em;
  }
  #menu li a{
    font-size: 19px;
    font-weight: 620;
    transition: 0.7s all;
    padding: 0px 24px;
  }
}

@media screen and (max-width: 1100px) {
  #menu li{
    width: 7.8em;
  }
  #menu li a{
    font-size: 18px;
    font-weight: 600;
    transition: 0.7s all;
    padding: 0px 24px;
  }
}

